<h1><%= @game.name %> </h1>
<div>
  white player: <%= (@game.white_player_id == nil) ? '...waiting to join' : User.find(@game.white_player_id).email %>
</div>
<div>
  black player: <%= (@game.black_player_id == nil) ? '...waiting to join' : User.find(@game.white_player_id).email %>
</div>

<div class="chessboard">

  <% for y in 0..7 do %>
    <% for x in 0..7 do %>

      <% color = "" %>
      <% if (y % 2 == 0) %>
        <% color = (x % 2 == 0) ? "white" : "black" %>
      <% else %>
        <% color = (x % 2 == 0) ? "black" : "white" %>
      <% end %>

      <div class='<%= color %>'>
        <% if gamepiece = @pieces.where("(x_position = ? AND y_position = ?)", x, y).first %>
          <b><%= link_to gamepiece.type, piece_path(gamepiece), :method => :put %></b>
          <%= gamepiece.color %>
          user_id: <%= gamepiece.user_id %>
        <% end %>
      </div>

    <% end %>
  <% end %>

</div>
