<br />
<h1><%= @game.name %> </h1>
<div>
  white player: <%= (@game.white_player_id == nil) ? '...waiting to join' : User.find(@game.white_player_id).email %>
</div>
<div>
  black player: <%= (@game.black_player_id == nil) ? '...waiting to join' : User.find(@game.black_player_id).email %>
</div>

<div>
  <% if @selected_piece != nil %>
    helll
    <%=  @selected_piece.type %>
  <% end %>
</div>

<div class="chessboard">

  <% for y in 0..7 do %>
    <% for x in 0..7 do %>

      <% color = "" %>
      <% if (y % 2 == 0) %>
        <% color = (x % 2 == 0) ? "white" : "black" %>
      <% else %>
        <% color = (x % 2 == 0) ? "black" : "white" %>
      <% end %>

      <div class='droppable <%= color %>' data-x="<%= x %>" data-y="<%= y %>">
        <% if gamepiece = @pieces.where("(x_position = ? AND y_position = ?)", x, y).first %>

            <div class="piece draggable" data-color="<%= gamepiece.color %>" data-id="<%= gamepiece.id %>">
              <%= gamepiece.color %> user_id: <%= gamepiece.user_id %>
            </div>

        <% else %>
        <% if selected_piece = @pieces.where(id: @game.selected_piece_id).first %>
        <%= link_to 'space', piece_path(selected_piece, :x_new => x, :y_new => y), :method => :patch %>
        <% end %>
        <% end %>
      </div>

    <% end %>
  <% end %>

</div>


<script>
  $(document).ready(function () {
    console.log('wtf mate');
    $(".draggable").draggable({
      helper: "clone",
    });
    $(".droppable").droppable({

      drop: function( event, ui) {

        var id = ui.draggable.data('id')
        var x = $(this).data('x')
        var y = $(this).data('y')

        $.ajax({
          type: 'PUT',
           url: '/pieces/' + id,
           dataType: 'json',
           data: { id: id, x_position: x, y_position: y },
           success: function(data){
             location.reload();
          }
        });
      }
    });
  });
</script>
